<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041994959023-pjpn0ip3ucndkulg905n1nc9j2a2ogsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041994959023-pjpn0ip3ucndkulg905n1nc9j2a2ogsd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1041994959023-mgupnt9mcgq2kn7tlufl8h1saiaocq4e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtvHCBq29HJ6uYvy34EjtzuA1JG4L0AjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1041994959023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memecreat</string>
	<key>PROJECT_ID</key>
	<string>gifedit-24349</string>
	<key>STORAGE_BUCKET</key>
	<string>gifedit-24349.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041994959023:ios:2ed0f621f3fb1bbd682c5a</string>
</dict>
</plist>